<!DOCTYPE html>
<html lang="en">
  <body>
    <head>

    </head>
    <header>
        <h1>Pelican Boat Club Cocktail list</h1>
        <nav>
            <ul>
                <li>
                    <a href = "{% url 'list_cocktails' %}">View All Cocktails</a>
                </li>
                <li>
                    <a href = "{% url 'create_cocktail' %}">Add A Cocktail</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Add A Cocktail</h1>
            <form method ="POST" enctype="multppart/form-date">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Submit">
            </form>
        </div>

    </main>
  </body>

</html>