<!DOCTYPE html>
<html lang="en">
  <body>
    <head>

      <title></title>
    </head>
    <header>
        <h1>Pelican Boat Club Cocktail list</h1>
        <nav>
            <ul>
                <li>
                    <a href = "{% url 'list_cocktails' %}">View All Cocktails</a>
                </li>
                {% comment %} <li>
                    <a href = "{% url 'create_cocktail' %}">Add A Cocktail</a>
                </li> {% endcomment %}
            </ul>
        </nav>
    </header>
    <main>

        <h1>{{ cocktail.name }}</h1>
        <p>{{ cocktail.creator }}</p>
        <p><img src={{ cocktail.image }}></p>
        <p>{{ cocktail.description }}</p>
        

    </main>
  </body>

</html>