<!DOCTYPE html>
<html lang="en">
  <body>
    <head>

      <title></title>
    </head>
    <header>
        <h1>Pelican Boat Club Cocktail list</h1>
        <nav>
            <ul>
                <li>
                    <a href = "{% url 'list_cocktails' %}">View All Cocktails</a>
                </li>
                <li>
                    <a href="{% url 'cocktail_details' %}">Cocktail Details</a>
                </li>
                <li>
                    <a href = "{% url 'create_cocktail' %}">Add A Cocktail</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>


        
        

      {% for cocktail in cocktails %}

        <div class="cocktail-card">
          <h2>{{ cocktail.name }}</h2>
          <h5>{{ cocktail.creator }}</h5>
          <p><img src={{ cocktail.image}} width = 200 height = auto></p>
          <p>{{ cocktail.description }}</p>
          <p>{{ on_ice }}</p>
        </div>
      {% endfor %}

      </main>
  </body>

</html>